<!DOCTYPE html>
<html>
<head>
        <title>Movies</title>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
        <script src="app.js"></script>
        <script src="controllers.js"></script>
        <script src="services.js"></script>
        <script src="filters.js"></script>
        <link rel="stylesheet" href="style.css">
</head>
<body ng-app="Movies" ng-controller="movieCtrl">
        <h1>Cinema App</h1>
        <div class="movie" id="movie1">
                <form novalidate>
                        <input type="text" ng-keyup="go(search, 1);" ng-model="search" />
                </form>
                <h2 ng-class="{true: 'green', false: 'red'}[firstGreater]"> {{ movie }} </h2>
                <div class="results">

                        <p><a ng-click="select(0)"><img ng-src="{{ results.movies[0].posters.thumbnail }}" /> {{ results.movies[0].title | truncate:50 }} </a>
                        <span class="summary"> {{ results.movies[0].critics_consensus | truncate:50 }} </span></p>

                        <p><a ng-click="select(1)"><img ng-src="{{ results.movies[1].posters.thumbnail }}" /> {{ results.movies[1].title | truncate:50 }} </a>
                        <span class="summary"> {{ results.movies[1].critics_consensus | truncate:50 }} </span></p>

                        <p><a ng-click="select(2)"><img ng-src="{{ results.movies[2].posters.thumbnail }}" /> {{ results.movies[2].title | truncate:50 }} </a>
                        <span class="summary"> {{ results.movies[2].critics_consensus | truncate:50 }} </span></p>

                        <p><a ng-click="select(3)"><img ng-src="{{ results.movies[3].posters.thumbnail }}" /> {{ results.movies[3].title | truncate:50 }} </a>
                        <span class="summary"> {{ results.movies[3].critics_consensus | truncate:50 }} </span></p>

                        <p><a ng-click="select(4)"><img ng-src="{{ results.movies[4].posters.thumbnail }}" /> {{ results.movies[4].title | truncate:50 }} </a>
                        <span class="summary"> {{ results.movies[4].critics_consensus | truncate:50 }} </span></p>

                        <p><a ng-click="select(5)"><img ng-src="{{ results.movies[5].posters.thumbnail }}" /> {{ results.movies[5].title | truncate:50 }} </a>
                        <span class="summary"> {{ results.movies[5].critics_consensus | truncate:50 }} </span></p>

                </div>
        </div>
        <div class="movie" id="movie2">
                <form novalidate>
                        <input type="text" ng-model="search2" ng-keyup="go(search2, 2)" />
                </form>
                <h2 ng-class="{true: 'green', false: 'red'}[secGreater]"> {{ movie2 }} </h2>
                <div class="results">

                        <p><a ng-click="select2(0)"><img ng-src="{{ results2.movies[0].posters.thumbnail }}" /> {{ results2.movies[0].title | truncate:50 }}</a>
                        <span class="summary"> {{ results2.movies[0].critics_consensus | truncate:50 }} </span></p>

                        <p><a ng-click="select2(1)"><img ng-src="{{ results2.movies[1].posters.thumbnail }}" /> {{ results2.movies[1].title | truncate:50 }}</a>
                        <span class="summary"> {{ results2.movies[1].critics_consensus | truncate:50 }} </span></p>

                        <p><a ng-click="select2(2)"><img ng-src="{{ results2.movies[2].posters.thumbnail }}" /> {{ results2.movies[2].title | truncate:50 }}</a>
                        <span class="summary"> {{ results2.movies[2].critics_consensus | truncate:50 }} </span></p>

                        <p><a ng-click="select2(3)"><img ng-src="{{ results2.movies[3].posters.thumbnail }}" /> {{ results2.movies[3].title | truncate:50 }}</a>
                        <span class="summary"> {{ results2.movies[3].critics_consensus | truncate:50 }} </span></p>

                        <p><a ng-click="select2(4)"><img ng-src="{{ results2.movies[4].posters.thumbnail }}" /> {{ results2.movies[4].title | truncate:50 }}</a>
                        <span class="summary"> {{ results2.movies[4].critics_consensus | truncate:50 }} </span></p>

                        <p><a ng-click="select2(5)"><img ng-src="{{ results2.movies[5].posters.thumbnail }}" /> {{ results2.movies[5].title | truncate:50 }}</a>
                        <span class="summary"> {{ results2.movies[5].critics_consensus | truncate:50 }} </span></p>

                </div>
        </div>
</body>
</html>
