<!DOCTYPE html>
<html>
<head>
        <title>Movies</title>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
        <script src="app.js"></script>
        <script src="controllers.js"></script>
        <script src="services.js"></script>
        <link rel="stylesheet" href="style.css">
</head>
<body ng-app="Movies" ng-controller="movieCtrl">
        <form novalidate>
        <input type="text" ng-model="search" />
        <button id="button" ng-click="go()">Go!</button>
        </form>
        <p ng-class="{true: 'green', false: 'red'}[firstGreater]"> {{ movie }} </p>
        <form novalidate>
        <input type="text" ng-model="search" />
        <button id="button" ng-click="go()">2!</button>
        </form>
        <p ng-class="{true: 'green', false: 'red'}[secGreater]"> {{ movie2 }} </p>
</body>
</html>
