body {
        font-family: sans-serif;
}
.green {
        background-color: green;
}

.red {
        background-color: red;
}

div.movie {
    width:50%;
}

div#movie1 {
    float:left;
}

div#movie2 {
    float:right;
}
